.DS_Store
nvim/spell
nvim/plugin/packer_compiled.lua
Brewfile.lock.json
fish/completions
fish/fish_variables
fish/functions/_*
fish/functions/fish*
!fish/functions/fish_title.fish
base16/
conf.d
Session.vim
xmonad/.stack-work
xmonad/stack.yaml.lock
qutebrowser/autoconfig.yml
qutebrowser/qsettings/QtProject.conf
qutebrowser/bookmarks/urls
emacs/auto-save-list
emacs/straight
emacs/transient
emacs/custom.el
task/*.pem
