.DS_Store
Brewfile.lock.json
fish/completions
fish/fish_variables
fish/functions
base16/
conf.d
Session.vim
xmonad/xmonad.hi
xmonad/xmonad.o
qutebrowser/autoconfig.yml
qutebrowser/qsettings/QtProject.conf
qutebrowser/bookmarks/urls
