.DS_Store
nvim/spell
Brewfile.lock.json
fish/completions
fish/fish_variables
fish/functions/_*
fish/functions/fish*
base16/
conf.d
Session.vim
xmonad/.stack-work
xmonad/stack.yaml.lock
qutebrowser/autoconfig.yml
qutebrowser/qsettings/QtProject.conf
qutebrowser/bookmarks/urls
