/* 
 * based on 3024 by Chris Kempson (http://chriskempson.com)
 */

:root {
  /* __cac:start */
  --background: #1a1b26;
  --foreground: #a9b1d6;
  --dim_black: #06080a;
  --dim_red: #e06c75;
  --dim_green: #98c379;
  --dim_yellow: #d19a66;
  --dim_blue: #7aa2f7;
  --dim_magenta: #ad8ee6;
  --dim_cyan: #56bdb8;
  --dim_white: #545a75;
  --bright_black: #24283b;
  --bright_red: #f7768e;
  --bright_green: #9ece6a;
  --bright_yellow: #e0af68;
  --bright_blue: #61afef;
  --bright_magenta: #f6bdff;
  --bright_cyan: #50c3bd;
  --bright_white: #a9b1d6;
  /* __cac:end */

  --tridactyl-fg: var(--foreground);
  --tridactyl-bg: var(--background);
  --tridactyl-url-fg: var(--dim_magenta);
  --tridactyl-url-bg: var(--background);
  --tridactyl-highlight-box-bg: var(--bright_green);
  --tridactyl-highlight-box-fg: var(--background);

  /* Hint character tags */
  --tridactyl-hintspan-fg: var(--background) !important;
  --tridactyl-hintspan-bg: var(--bright_red) !important;

  /* Element Highlights */
  --tridactyl-hint-active-fg: none;
  --tridactyl-hint-active-bg: none;
  --tridactyl-hint-active-outline: none;
  --tridactyl-hint-bg: none;
  --tridactyl-hint-outline: none;
}

#command-line-holder {
  order: 1;
  border: 2px solid var(--dim_magenta);
  color: var(--background);
  background: var(--background);
}

#tridactyl-input {
  padding: 1rem;
  color: var(--foreground);
  width: 90%;
  font-size: 1.5rem;
  line-height: 1.5;
  background: var(--background);
  padding-left: unset;
  padding: 1rem;
}

#completions table {
  font-size: 12pt !important;
  font-weight: 200;
  border-spacing: 0;
  table-layout: fixed;
  padding: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#completions > div {
  max-height: calc(20 * var(--option-height));
  min-height: calc(10 * var(--option-height));
}

/* COMPLETIONS */

#completions {
  --option-height: 1.4em;
  color: var(--foreground);
  background: var(--background);
  display: inline-block;
  font-size: 12pt !important;
  font-weight: 200;
  overflow: hidden;
  width: 100%;
  border-top: unset;
  order: 2;
}

/* Olie doesn't know how CSS inheritance works */
#completions .HistoryCompletionSource {
  max-height: unset;
  min-height: unset;
}

#completions .HistoryCompletionSource table {
  table-layout: fixed;
}

/* redundancy 2: redundancy 2: more redundancy */
#completions .BmarkCompletionSource {
  max-height: unset;
  min-height: unset;
}

#completions table tr td.prefix,
#completions table tr td.privatewindow,
#completions table tr td.container,
#completions table tr td.icon {
  display: none;
}

#completions .BufferCompletionSource table {
  width: unset;
  font-size: unset;
  border-spacing: unset;
  table-layout: unset;
}

#completions table tr .title {
  width: 50%;
}

#completions table tr {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#completions .sectionHeader {
  background: unset;
  font-weight: 200;
  border-bottom: unset;
  padding: 1rem !important;
  padding-left: unset;
  padding-bottom: 0.2rem;
}

#cmdline_iframe {
  position: fixed !important;
  bottom: unset;
  top: 25% !important;
  left: 10% !important;
  z-index: 2147483647 !important;
  width: 80% !important;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px !important;
}

.TridactylStatusIndicator {
  position: fixed !important;
  bottom: 0 !important;
  background: var(--background) !important;
  border: unset !important;
  border: 1px var(--bright_green) solid !important;
  font-size: 12pt !important;
  /*font-weight: 200 !important;*/
  padding: 0.8ex !important;
}

#completions .focused {
  background: var(--dim_magenta);
  color: var(--background);
}

#completions .focused .url {
  background: var(--dim_magenta);
  color: var(--background);
}
